@model IEnumerable<NewWebsiteApplication.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    body {
        background-color:lightslategrey;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacture)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <div class="text-center">
        <h1 class="display-4">Purchase</h1>
        <p>Shopping  <a href="http://localhost:26606/bankdetails"> Pay </a>.</p><br />


        <p>Select</p>

    </div>
</table>
